@use './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2e3a46;
}

main {
    width: 80%;
    margin: 20px auto;
    padding-top: 10px;
    background-color: white;
}